name: Docs Publish

on:
  workflow_dispatch:

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Generate Docs
        run: docker run --rm -v "$(pwd):/data" "phpdoc/phpdoc:3"

      - name: Deploy docs to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          branch: gh-pages
          folder: docs